/*
  Text properties http://www.w3schools.com/css/css_reference.asp#text
  Font properties http://www.w3schools.com/css/css_reference.asp#font */
  
p{
    font-family: sans-serif;
    font-size: 12px;
    color: #999999;
    background-color: white;
    padding: 20px;
}

.standard{
    float: left;
    width: 44%;
    margin: 0.5em;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: rgb(168, 164, 164);
    padding: 20px;
    
}
a:link    { color: rgb(50, 14, 151); }      /* unvisited link */
a:visited { color: rgb(86, 76, 223); }      /* visited link */
a:hover   { color: rgb(5, 1, 5); }      /* mouse over link */